RewriteEngine On

# Si las URLs llegan con /cirov3/ las limpiamos
RewriteCond %{REQUEST_URI} ^/cirov3/
RewriteRule ^cirov3/(.*)$ /$1 [L]

# Redirección para archivos y directorios que no existen
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]